.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: blue;
  font-style: inherit;

}
.nav-item{
  margin-left: 3.8em;
}
.nav-ser{
  margin-left: 25em;
}
h4{
  text-align: center;
}
.container-1{
  text-align: center ;
}
h6{
  text-align: center;
}
footer{
  clear: both;
  background-color:lightgrey;
  margin-top: 2.5em;
  
}
.list-unstyled{
   text-align: center;
   margin-top: 0.8em;

  
}
